.main-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 35px;
  text-align: center;
  line-height: 40px;
  margin-top: 300px;
}

.div-buttons {
  display: flex;
  flex-direction: row;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #511026;
  border: solid 5;
}
