.movie-card {
  background-color: #511026;
  background-image: url("https://images.unsplash.com/photo-1608889175250-c3b0c1667d3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80");
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: stretch;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  border-radius: 5%;
}

.mat-dialog-content {
  width: 300px;
  display: grid;
}

.mat-card-title {
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.mat-card {
  margin: 2rem;
  display: grid;
  background-color: #7c92a1;
  overflow: hidden;
}
.mat-card-header {
  display: grid;
  grid-template-columns: 2fr;
  background-color: #e6e6e6;
}
