.my-list-title {
    color: #fff;
    font-size: 2rem;
    margin: 1rem 3rem 0;
}

.my-list-subtitle {
    color: #fce083;
    margin: 0.5rem 3rem 0;
    font-size: 0.9rem;
}

.my-list {
    background-color: #2e2d29;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 15px;
    padding: 1rem 4rem;
}

mat-card-actions.mat-card-actions {
    display: flex;
    justify-content: space-evenly;
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mat-button {
    padding: 0;
}

span.mat-button-wrapper {
    color: black;
}

.mat-icon-button {
    color: red;
    position: absolute;
    right: 5px;
    top: 5px;
}

.mat-card {
    margin: 2rem 1rem;
    max-width: 280px;
}

.favourite-icon {
    align-items: right;
}

