
  <h2 class="my-list-title">My List </h2>
  <p class="my-list-subtitle" *ngIf="(favouriteMovies.length === 0)">There are no movies saved to your list.</p>
<div class="my-list">
  <!-- The ngFor directive (*ngFor) is used to loop through the favouriteMovies array in the component. A mat-card is 
    then rendered for each movie -->
  <mat-card
      *ngFor="let favourite of favouriteMovies; let i = index"
      class="favorite-card"
  >
    <mat-card-header class="fav-header">
      <mat-card-title class="fav-title">{{ favourite.Title }}</mat-card-title>
      <mat-card-subtitle class="fav-subtitle">
        Directed by: {{ favourite.Director.Name }}
      </mat-card-subtitle>
    </mat-card-header>
    <div class="img-container">
      <img 
        src="{{ favourite.ImagePath }}" 
        alt="{{ favourite.Title }}"
        style= "border: 1px solid black;height:320px!important"
      />
    </div>
    <mat-card-actions>
        <button
            class="movie-details-btn"
            mat-button
            (click)='openGenre(favourite.Genre[0])'
        >
            Genre
        </button>
        <button
            class="movie-details-btn"
            mat-button
            (click)='openDirector(favourite.Director.Name, favourite.Director.Bio, favourite.Director.Birthdate)'
        >
            Director
        </button>
     
        <!-- Favorite icon -->
        <button
            mat-icon-button
            (click)="removeFavouriteMovie(favourite._id, favourite.title)"
        >
        <mat-icon class="remove-btn">favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>